@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'antd/dist/reset.css';

:root {
  --background: #f2f3f5;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .mdxeditor-doc{
    h1 {
      font-size: 2em;
      font-weight: bold;
      margin: 0.67em 0;
    }
    h2 {
      font-size: 1.5em;
      font-weight: bold;
      margin: 0.75em 0;
    }
    h3 {
      font-size: 1.17em;
      font-weight: bold;
      margin: 0.83em 0;
    }
    h4 {
      font-size: 1em;
      font-weight: bold;
      margin: 1.12em 0;
    }
    h5 {
      font-size: 0.83em;
      font-weight: bold;
      margin: 1.5em 0;
    }
    h6 {
      font-size: 0.67em;
      font-weight: bold;
      margin: 2.33em 0;
    }
    p {
      font-size: 16px;
      line-height: normal;
      margin: 1em 0;
    }
    a {
      text-decoration: underline;
      color: blue;
      cursor: pointer;
    }
    a:hover {
      color: darkblue;
    }
    ul {
      list-style-type: disc;
      padding-left: 40px;
    }
    ol {
      list-style-type: decimal;
      padding-left: 40px;
    }
    table {
      border-collapse: separate;
      border-spacing: 2px;
    }
    th {
      text-align: center;
      padding: 6px 13px;
    }
    td {
      text-align: left;
      padding: 6px 13px;
    }
    input {
      border: 1px solid #ccc;
      background-color: white;
    }
  }
}

@import '../../node_modules/@mdxeditor/editor/dist/style.css';

